@media only screen and (max-width: 1024px){
 /* Section 1 */
 .section-1{
  background-image: url(./assets/Profile/AFCFDF76-268A-44AB-B380-8EF32CA8554E.jpeg);
  background-repeat: no-repeat;
  background-position: -18rem 3rem;
  background-size: 115vh;
  background-attachment: fixed;
 }
 .section-1 .col-md-5{
  display: none;
 }
 .section-1 .col-md-7{
  width: 100%;
  height: 87.4vh;
  background-color:rgba(0, 0, 0, 0.63);
 }
 .section-1 .col-md-7 h1{
  padding-top: 22rem;
 }
 .section-1 .col-md-7 p{
  font-size: 1.6rem;
  padding: 1rem;
  margin-bottom: 2rem;
 }
 /* Section 2 */
 .section-2{
  padding: 7vmin;
 }
 .section-2 .col-md p{
  font-size: 1.3rem;
 }
 .section-2 .col-md h2{
  margin-top: -11rem;
 }
 /* Section 4 */
 .section-4 .live-tag{
  width: 20rem;
 }
 .section-4 .live-tag h2{
  font-size: 1.8rem;
  margin-left: 7rem;
 }
 .section-4 #live-text{
  padding-bottom: 2rem;
 }
 .section-4 #live-text h3{
  font-size: 2.2rem;
 }
 .section-4 #live-text h4{
  font-size: 2rem;
  margin-bottom: -0.3rem;
 }
 .section-4 #live-text p{
  font-size: 1.3rem;
 }
 .section-4 .live-pic{
  padding: 1rem;
  width: 120%;
 }
 /* Section 5 */
 .section-5 .recording-tag{
  width: 20rem;
 }
 .section-5 .recording-tag h2{
  font-size: 1.8rem;
  margin-left: 4rem;
 }
 /* Section 6 */
 .sc6-1 h2{
  font-size: 2.1rem;
 }
 #recording-text #text{
  font-size: 1.2rem;
 }
 #recording-text .col-md-12 p{
  font-size: 1.3rem;
 }
 #recording-track h2{
  font-size: 2.2rem;
  margin-bottom: 1rem;
 }
 #recording-track h5{
  margin-top: 0.7rem;
  font-size: 1.6rem;
 }
 .facebook-track iframe{
  height: 33rem;
 }
 /* Footer */
 footer h3{
  font-size: 1.5rem;
 }
 footer p{
  font-size: 0.9rem;
 }
 footer .col-md-7{
  margin-bottom: 0.5rem;
 }
 .icons i{
  font-size: 1.1rem;
 }
 .icons a{
  margin-right: 0.97rem;
 }
}